:root{
	--cardbg: #e8f3fa;

	--color1: #d95c5c;
	--color2: #e4d9f3;/*2,7*/
	--color3: #8ae0ff;/*3,8*/
	--color4: #d9f3f3;/*4,5,6*/
}

.theme1 *{
	font-family: "Arial";
}

.theme1{
	width: 100%;
	top: 0;
	right: 0;
	padding: 3px;
}

.theme2{
	margin-bottom: 20px;
	display: inline-block;
	margin-right: 15px;
}

.theme2:nth-child(1){
	margin-left: 54%;
}

.theme2 > p{
	font-size: 17px;
}

.theme2 > p:hover{
	text-decoration: underline;
	text-decoration-color: blue;
	cursor: pointer;
}

.theme3{
	background-color: transparent;
	border: 1px solid blue;
	font-size: large;
	padding: 6px;
	border-radius: 10px;
	color: blue;
}

.theme4{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
}

.theme5{
	font-weight: lighter;
}

.theme4 > h1:nth-child(1){
	font-family: "Noto Sans";
}

.theme6{
	width: 400px;
}

.theme6 td{
	font-family: "Arial";
	font-size: 15px;
}

.theme6 td:nth-child(1){
	color: blueviolet;
}

.theme6 td:nth-child(2){
	color: orange;
}

.theme8{
	margin: 5px;
	position: relative;
}

.theme7 tr td{
	text-align: center;
}

.theme8 .card-body{
	display: inline-block;
	background-color: var(--cardbg);
	padding: 10px;
	width: 100px;
	height: 50px;
	border-radius: 5px;
	text-align: center;
}

.theme8 .card-body .card-header{
	font-size: xx-small;
	display: inline-block;
	top: 0;
	left: 0px;
	position: absolute;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 2px;
	box-sizing: border-box;
	font-family: "Arial";
}

.card-text{
	position: absolute;
	top: 94.4%;
	left: 20%;
	font-family: "Arial";
}


.color1{
	background-color: var(--color1);
	color: white;
}

.color2{
	background-color: var(--color2);
}

.color3{
	background-color: var(--color3);
}

.color4{
	background-color: var(--color4);
}

.color5{
	background-color: var(--color5);
}


.theme7 tr{
	height: 120px;
}

.theme9{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 10px;
	top: 25%;
	left: 50%;
	height: 150px;
	width: 500px;
	border-radius: 30px;
}

